.jumbotron{
    background-color: gray ;
    margin-top: 50px;
}

.aliniacion {
    flex:  1 150px;
    padding: 2px 5px 2px 5px;
    width: 50%;
    justify-content: center;
}

.card-restaurante{
    flex:  1 150px;
    padding: 2px 20px 20px 5px;
    width: 100%;
}    


.footer{
    background-color: gray ;
    color: white;
    padding: 10px 10px 0 10px;  
    margin-bottom: 0px;
    margin-top: 10px;
    align-items: flex-end;
}

.btn-block{
    width: 100%;
    position: absolute;
    left: 0;
    
}
.banner{
    display: block;
    width: auto;
    
}
.img-fluid {
    width: 100%;
    height: 50%;
    padding: 10px 10px 0 10px
     
}

.breadcrumb{
    margin-top: 10px; 
}
